body {
    background-color: #ffd4e5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffadad;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #ff704d;
}

h1 {
    color: #ff4d4d;
}

.question {
    color: #ff704d;
    font-size: 18px;
    margin-bottom: 20px;
}
